
.alignCirc1 {
    opacity: 0.9;
}

.alignCirc2 {
    opacity: 0.85;
}

.alignCirc3 {
    opacity: 0.8;
}

.alignText {
    alignment-baseline: middle;
    fill: white;
    font-weight: bolder;
    text-anchor: middle;
    transform: translateY(1px);
}

.userPath {
    fill: none;
    stroke: rgba(0, 0, 0, 0.8);
    stroke-width: 1px;
}